.chat-page .header-part{
    box-shadow: 0px 1px 15px #0000000f;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.chat-page .header-part .name-call{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-page .header-part .back-button{
    width: 30%;
    border-right: 1px solid #EAEAEA;
    padding: 30px 50px;
}
.chat-page .header-part .back-button .back{
    border: 1px solid #E3E3E3;
    border-radius: 14px;
    background-color: transparent;
    width: 60px;
    height: 60px;
}
.chat-page .header-part .back-button .back img{
    transform: rotate(-180deg);
}
.chat-page .header-part .name-call{
   width: 70%;
    padding: 30px 50px;
}
.chat-page .header-part .name-call .profile{
    display: flex;
    align-items: center;
}
.chat-page .header-part .name-call .profile .user-name p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}
.chat-page .header-part .name-call .profile .user-name p.status{
    font-size: 12px;
    font-weight: 400;
    color: #4CAA4D;
}
.chat-page .header-part .name-call .call{
    box-shadow: 0px 1px 15px #0000000f;
    border-radius: 14px;
    background-color: transparent;
    width: 60px;
    height: 60px;
}
.chat-page .main-chat-part{
    display: flex;
    height: 86vh;
    overflow: hidden;
}
.chat-page .main-chat-part .chat-side-part{
   width: 30%;
    box-shadow: 0px 10px 15px #0000000f;
    padding: 30px 50px;
}
.chat-page .main-chat-part .messages-part{
    width: 70%;
    position: relative;
}
.chat-page .main-chat-part .messages-part .chatting{
    padding: 30px 50px;
    height: 78vh;
    overflow: auto;
}
.chat-page .main-chat-part .messages-part .messages{
   
    width: 50%;
}
.chat-page .main-chat-part .messages-part .messages .message-card{
    box-shadow: 0px 1px 15px #0000000f;
    padding: 14px;
    border-radius: 14px;
}
.chat-page .main-chat-part .messages-part .messages.reciver .message-card {
    border-top-left-radius: 0;
    background-color: #fff;
}
.chat-page .main-chat-part .messages-part .messages.reciver{
    clear: both;
}
.chat-page .main-chat-part .messages-part .messages.sender{
    float: right;
}
.chat-page .main-chat-part .messages-part .messages.sender .message-card{
    background-color: #F5F2F2;
    border-top-right-radius: 0;
}
.chat-page .main-chat-part .messages-part .messages p.timer{
    font-size: 12px;
    font-weight: 400;
    color: #ADADAD;
    text-align: right;
    padding-right: 10px;
    padding-top: 8px;
}
.chat-page .main-chat-part .messages-part .messages .message-card p{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}
.chat-page .main-chat-part .messages-part  .message-typing-block{
    box-shadow: 8px 1px 15px #0000000f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 18px 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 9;
}
.chat-page .main-chat-part .messages-part  .message-typing-block .input-box{
    flex: 2;
    position: relative;
}
.file-attach{
    position: absolute;
    right: 50px;
    top: 10px;
    background-color: transparent;
}
.image-attach{
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: transparent;
}
.file-attach:hover, .image-attach:hover, .file-attach.btn:focus, .image-attach.btn:focus{
    background-color: transparent;
}
.chat-page .main-chat-part .messages-part  .message-typing-block .msg-type{
    border: 1px solid #E3E3E3;
    border-radius: 40px;
    width: 100%;
    padding: 16px;
}
.chat-page .main-chat-part .messages-part  .message-typing-block .sent{
    width: 50px;
    height: 50px;
    background-color: #FF6036;
    border-radius: 50%;
}
.chat-page .chatting-person .chat-card{
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 1px 15px #0000000f;
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.chat-page .chatting-person .chat-card.active{
    border: 1px solid #FF6036;
}
.chat-page .chatting-person .chat-card .text-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.chat-page .chatting-person .chat-card .text-block p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}
.chat-page .chatting-person .chat-card .text-block p.time{
    font-size: 10px;
    color: #ADADAD;
    margin-top: -4px;
}
.chat-page .chatting-person .chat-card .text-block small{
    font-size: 12px;
    color: #ADADAD;
}
.chat-page .chatting-person .chat-card .text-block  p.msg-badge{
    background-color: #FF6036;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.chat-page .chat-person .search-box{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.chat-page .chat-person .search-box .searchInput{
    width: 100%;
    border: 1px solid #E3E3E3;
    border-radius: 26px;
    padding: 10px 16px 10px 50px;
}
.chat-page .chat-person .search-box .searchIcon{
    position: absolute;
    top: 10px;
    left: 16px;
}