.topBar{
    padding: 22px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 15px #0000000f;
    border-top: 1px solid #0000000f;
}
.topBar .theraphy-name .title{
    font-size: 20px;
    font-weight: 500;
    color: #1D2432;
    margin-bottom: 0;
}

.breadcrumb{
    margin-bottom: 0;
}
.breadcrumb-item.active{
    color: #ADADAD;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.breadcrumb-item a{
    font-size: 20px;
    color: #1D2432;
    font-weight: 400;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: "";
    background-image: url('../images/left-arrow.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    margin-top: 6px;
}
/*  card data */
.linkCard{
    text-decoration: none;
}
.doctor-card{
    border-radius: 14px;
    box-shadow: 0px 1px 15px #0000000f;
    background-color: #fff;
    
}
.doctor-card .doctor-card-content{
    display: flex;
    align-items: flex-start;
    padding: 21px 24px;
}
.doctor-card .doctor-card-content .image-part{
    width: 135px;
    height: 135px;
    border-radius: 50%;
}
.doctor-card .doctor-card-content .text-part{
    margin-left: 18px;
}
.doctor-card .doctor-card-content .text-part h5{
    font-size: 19px;
    color: #1D2432;
    font-weight: 500;
    margin-bottom: 8px;
}
.doctor-card .doctor-card-content .text-part h6{
    color: #FF6036;
    font-weight: 400;
    margin-bottom: 10px;
}
.doctor-card .doctor-card-content .text-part p{
    font-weight: 400;
    color: #1D2432;
    margin-bottom: 2px;
}
.doctor-card .doctor-card-content .text-part p.gray{
    font-size: 18px;
    color: #ADADAD;
}
.doctor-card .doctor-card-content .text-part p.small{
    font-size: 16px;
    font-weight: 500;
}
.doctor-card .doctor-card-content .text-part img{
    margin-top: 6px;
    margin-right: 5px;
}
.doctor-card .bottom-bar{
    background-color: #FDF5F2;
    color: #FF6036;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 0;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.doctor-card .bottom-bar p{
    margin-bottom: 0;
    text-align: center;
    
}

/* appointmentcard */
.appointment-card, .assign-doctor-card{
    padding: 24px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 1px 15px #0000000f;
}
.appointment-card .img-time-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.appointment-card .img-time-part .time-part p{
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 4px;
}
.appointment-card .img-time-part .time-part p.gray{
    color: #ADADAD;
}
.appointment-card .text-part .name{
    font-size: 21px;
    font-weight: 500;
}
.appointment-card .text-part{
    margin-top: 14px;
}
.appointment-card .text-part h6{
    font-size: 15px;
    color: #ADADAD;
    font-weight: 400;
}
.appointment-card .text-part .date{
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #12D372;
    border-radius: 7px;
    padding: 10px;
    margin-top: 23px;
    text-align: center;
}

/* assign doctor slider */
.assign-doctor-card{
    text-align: center;
    padding: 0;
    padding-top: 24px;
}
.assign-doctor-card .doctor-card-content .text-part h5{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
    color: #1D2432;
}
.assign-doctor-card .doctor-card-content .text-part p{
    color: #FF6036;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.assign-doctor-card .doctor-card-content .owl-carousel .owl-item .image-part img{
    width:auto !important;
}
.assign-slider .owl-item .image-part img{
    width: auto !important;
}
.assign-slider.owl-carousel .owl-item img{
    margin: auto;
}
.assign-slider .rating-part {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.assign-slider.owl-carousel .owl-item .rating-part img{
    width: auto !important;
    margin: 0;
    margin-right: 6px;
}
.doctorList{
    text-decoration: none;
}
.assign-slider .bottom-part{
    background-color: #FDF5F2;
    padding: 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.assign-slider .bottom-part p{
    margin-bottom: 0;
    color: #FF6036;
    font-size: 15px;
    font-weight: 500;
}
.componentBtn{
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    background-color: #FF6036;
    padding: 8px;
}
.componentBtn:hover{
    background-color: #ff6036cf !important;
    box-shadow: none;
    border-color: #FF6036;
}
.componentBtn.green-btn{
    background-color: #12D372;
    width: 50%;
}
.componentBtn.componentBtn.green-btn{
    background-color: #12D372 !important;
    box-shadow: none;
    border-color: #12D372;
}
/* upcomingPatientsCard */
.upcomingPatientsCard  .bottom-bar {
    background-color: #F5F2F2;
    color: #1D2432;
}
.upcomingPatientsCard .progressBar{
    padding: 0 24px 24px;
}

/* report card */
.report-card{
    display: flex;
    align-items: flex-start;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 0px 1px 15px #0000000f;
    margin-top: 12px;
}
.report-card .image-block{
    height: 44px;
    width: 44px;
    background-color: #FDF5F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report-card  .fileName{
    font-size: 14px;
    font-weight: 500;
}
.report-card  .fileNo{
    font-size:12px;
    color:#ADADAD;
}
.doctorDetailsCard .nextLink{
    display: block;
    height: 44px;
    width: 44px;
    border: 1px solid #E3E3E3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctorDetailsCard{
    position: relative;
    z-index: 2;
}
.doctorDetailsCard.back-orange::before{
    background-color: #FDF5F2;
    position: absolute;
    content: "";
    height: 200px;
    width: 100%;
    top: 0;
    z-index: -1;
}
.doctorDetailsCard .edit-button{
    height: 60px;
    width: 60px;
    box-shadow: 0px 1px 15px #0000000f;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background-color: #fff;
}

/* exercise tab part */
.exercise-tab-part .nav-tabs{
    margin-top: 25px;
}
.exercise-tab-part .nav-tabs,.exercise-tab-part .nav-tabs .nav-link{
    border: 0;
}
.exercise-tab-part .nav-tabs .nav-item.show .nav-link, .exercise-tab-part .nav-tabs .nav-link.active{
    border: 0;
}
.exercise-tab-part .nav-tabs .nav-link:hover, .exercise-tab-part .nav-tabs .nav-link:focus, .exercise-tab-part .nav-tabs .nav-link.active{
    border: 0;
    background-color: #FF6036;
    color: #fff;
}
.exercise-tab-part .nav-tabs .nav-link{
    border-radius: 26px;
    background-color: #FDF5F2;
    font-size: 14px;
    font-weight: 500;
    color: #FF6036;
    min-width: 90px;
    margin-right: 10px;
}
.exercise-card{
    box-shadow: 0px 1px 15px #0000000f;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
}
.exercise-card .img-text-part{
    display: flex;
    align-items: center;
}
.exercise-card .text-part h6{
    font-size: 16px;
    font-weight: 500;
}
.exercise-card .text-part p{
    font-size: 16px;
    font-weight: 400;
    color: #ADADAD;
}
.tab-content{
    margin-top: 25px;
}

/* patientInfoData */
.patientInfoData{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.patientInfoData h6{
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.appointmentPart{
    height: 50vh;
    overflow: auto;
}
/* ex-card */
.ex-card{
    box-shadow: 0px 1px 15px #0000000f;
    padding: 25px;
    text-align: center;
    border-radius: 14px;
}
.ex-card h6{
    font-size: 30px;
    font-weight: 500;
    margin-top: 14px;
    color: #1D2432;
}
/* link-card */
.common-link-card-part .link-card{
    box-shadow: 0px 1px 15px #0000000f;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;
    margin-bottom: 15px;
}
.common-link-card-part .link-card:last-child{
    margin-bottom: 0;
}
.common-link-card-part .link-card .text{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #1D2432;
}
.common-link-card-part .link-card .iconPart .iconRound{
    height: 35px;
    width: 35px;
    background-color: #FDF5F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.common-link-card-part .link-card .iconPart {
    display: flex;
    align-items: center;
}
.common-link-card-part{
    max-width: 70%;
    margin: auto;
}
.common-link-card-part .img-block img{
    opacity: 0.6;
}
/* doctorName */
.doctorName{
    text-align: center;
    margin-bottom: 3rem;
}
.doctorName p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
}
.doctorName p.email{
    font-size: 17px;
    color: #ADADAD;
}


/* checkbox */

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 26px;
    width: 26px;
    background: #e6e6e6;
    border-radius: 50%;
  }
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc;
  }
  .control input:checked ~ .control__indicator {
    background: #FF6036;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #FF6036;
  }
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .control--checkbox .control__indicator:after {
    left: 6px;
    top: 8px;
    height: 10px;
    width: 14px;
    background-repeat: no-repeat;
    background-image: url('../images/check.svg');
  }
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
  .filterList{
    list-style-type: none;
    padding: 0;
  }
  .filterList li{
    display: flex;
    justify-content: space-between;
    
    padding: 15px 0;
    border-bottom: 1px solid #EAEAEA;
  }
  .filterList li.selcted img{
    display: block;
  }
  .filterList li img{
    display: none;
  }
  .filterList li a{
    text-decoration: none;
    font-size: 14px;
    color: #1D2432;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  /* checkbox added */
  .checkbox{
    height: 26px;
    width: 26px;
  }
.checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1px solid #ADADAD;
    left: 3px;
    top: -15px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 7px;
    width: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 9px;
    top: -7px;
    color: #fff;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
.checkbox input[type="checkbox"]:checked + label::before{
    background-color: #FF6036;
    border-color: #FF6036;
}

